@tailwind base;
@tailwind components;
@tailwind utilities;

/* si usas el plugin line-clamp, se configura en tailwind.config.js, 
   no aquí, así que eliminamos esta línea mal puesta:
   @tailwindcss/line-clamp
*/

/* Quitar scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE y Edge */
  scrollbar-width: none;    /* Firefox */
}

/* Elimina el outline azul en foco, para todos los elementos con esta clase */
.no-outline:focus,
.no-outline:focus-visible {
  outline: none !important;
  box-shadow: none !important;
}

/* 👇 Fix para que los inputs autofill se mantengan transparentes */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  -webkit-text-fill-color: white !important;
  transition: background-color 9999s ease-in-out 0s;
}
